$font-stack:              'helvetica neue', sans-serif;
$background-color:        #FFF;

html {
  font-family: $font-stack;
  font-size: 1em;
  font-weight: 200;
  background: $background-color;
}

.waldo-map {
  width: 100vw;
  height: 100vh;
}
