$font-stack:              'helvetica neue', sans-serif;
$background-color:        #000;

html {
  font-family: $font-stack;
  font-size: 1em;
  font-weight: 200;
  background: $background-color;
}

h1 {
  color: #FFF;
}
